::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4EC0CA; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #51E991; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.quiz-container {
  width: 100%;
  height: 100vh;
  background-color: #4ec0ca;
  overflow: scroll;
  overflow-x: hidden;
}

.quiz-form__container {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-color: #4ec0ca;
  font-size: 22px;
  font-weight: bold;
}

.timer {
  z-index: 100;
  font-size: 40px;
  color: #fff;
  padding-top: 10px;
}

.quiz-form__answer-container {
  word-wrap: break-word;
  width:80%;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 7px 10px;
  background-color: #51e991;
  border-top: 3px solid #a5f3b8;
  border-radius: 10px;
  text-align: left;
  font-weight: normal;
}

.quiz-form__question-text {
  padding-top: 20px;
  width:90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mat-button {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  width: 80%;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  background-color: #e9b77f;
  border-top: 3px solid #f0ecc7;
  border-radius: 10px;
}

@media screen and (max-height: 600px) {
  .quiz-form__container {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    background-color: #4ec0ca;
    font-size: 20px;
    font-weight: bold;
  }

  .quiz-form__answer-container {
    word-wrap: break-word;
    width:80%;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 7px 10px;
    background-color: #51e991;
    border-top: 3px solid #a5f3b8;
    border-radius: 10px;
    text-align: left;
    font-weight: normal;
  }

  .quiz-form__question-text {
    padding-top: 20px;
    width:90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .mat-button {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    width: 80%;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    background-color: #e9b77f;
    border-top: 3px solid #f0ecc7;
    border-radius: 10px;
  }
}

@media screen and (min-height: 1000px) {
  .quiz-form__container {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-color: #4ec0ca;
  font-size: 30px;
  font-weight: bold;
}

.quiz-form__answer-container {
  word-wrap: break-word;
  width:80%;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 7px 10px;
  background-color: #51e991;
  border-top: 3px solid #a5f3b8;
  border-radius: 10px;
  text-align: left;
  font-weight: normal;
}

.quiz-form__question-text {
  padding-top: 20px;
  width:90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mat-button {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  width: 80%;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  background-color: #e9b77f;
  border-top: 3px solid #f0ecc7;
  border-radius: 10px;
  }
}

@media screen and (min-height: 1300px) {
  .quiz-form__container {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-color: #4ec0ca;
  font-size: 40px;
  font-weight: bold;
}

.quiz-form__answer-container {
  word-wrap: break-word;
  width:80%;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 7px 10px;
  background-color: #51e991;
  border-top: 3px solid #a5f3b8;
  border-radius: 10px;
  text-align: left;
  font-weight: normal;
}

.quiz-form__question-text {
  padding-top: 20px;
  width:90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mat-button {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  width: 80%;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  background-color: #e9b77f;
  border-top: 3px solid #f0ecc7;
  border-radius: 10px;
  }
}
