.quiz-form__container {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    background-color: #4ec0ca;
    font-size: 22px;
    font-weight: bold;
}

.quiz-form__answer-container {
    word-wrap: break-word;
    width:80%;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 7px 10px;
    background-color: #51e991;
    border-top: 3px solid #a5f3b8;
    border-radius: 10px;
    text-align: left;
    font-weight: normal;
}

.quiz-form__question-text {
    padding-top: 20px;
    width:90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.mat-button {
    margin-top: 10px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    background-color: #e9b77f;
    border-top: 3px solid #f0ecc7;
    border-radius: 10px;
}