<div class="quiz-container" >
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="quiz-form" *ngIf="status === Success">
    <div class="quiz-form__container">
      <div class="timer">{{currentTime}}</div>
      <div class="quiz-form__question-text" formQuestionName="questions">{{question}}</div>
      <label formArrayName="answers" *ngFor="let answer of form.controls.answers.controls; let i = index">
        <div class="quiz-form__answer-container">
          <mat-checkbox [formControlName]="i">
          </mat-checkbox>
          {{answers[i]}}
        </div>
      </label>
      <button mat-button class="quiz-form__submit">submit</button>
    </div>
    
  </form>
  <div class="sk-cube-grid" *ngIf="status !== Success">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>
