<div class="quiz-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="quiz-form">
    <div class="quiz-form__container">
      <div class="quiz-form__question-text" formQuestionName="questions">{{questions[1].questionText}}</div>
      <label formArrayName="answers" *ngFor="let answer of form.controls.answers.controls; let i = index">
        <div class="quiz-form__answer-container" >
            <mat-checkbox [formControlName]="i">
            </mat-checkbox>
            {{answers[i].answerText}}
        </div>
      </label>
      <button mat-button class="quiz-form__submit">submit</button>
    </div>
  </form>
</div>
